@model ArgCore.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout_v1.cshtml";
}
@{
    ViewBag.Title = "Forgot Password";
}

<div id="forgotpassword" class="text-center">
    <div class="loginForm">
        <h1>Forgot Password</h1>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <p style="color:white">Please Enter your Email Address to have your password resent</p>
            <div class="row">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="divcenter">
                <button value="submit" class="btn btn-lg btnResetPwd">Reset Password</button>
            </div>
        }
    </div>
</div>
