@{
    Layout = "~/Views/Shared/_AdminLayout_v1.cshtml";
}
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    .forgotContent {
        margin-top: 120px;
    }
</style>

<div id="forgotPassword" class="text-center forgotContent">
    <hgroup>
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
