@{
    ViewBag.Title = "ARG Registration Thank You";
}
@{
    Layout = "~/Views/Shared/_AdminLayout_v1.cshtml";
}

<style>
    #RegThanks h1 {
        margin-bottom: 40px;
    }

    #RegThanks {
        margin-top: 70px;
    }
</style>

<div id="RegThanks">
    <h1><img src="/images/thank-you.png" /> ARG Registration Thank You</h1>
    <p>Thank you for registrating. To Complete Registration - </p>
    <p>Step1: Check your email for a message asking you to confirm your email address.</p>
    <p>Step2: Click the email link to confirm your email and activate your account.</p>
</div>
