@{
    ViewBag.Title = "Reset password Confirmation";
}
@{
    Layout = "~/Views/Shared/_AdminLayout_v1.cshtml";
}

<style>
    .resetContent {
        margin-top: 120px;
    }

    #ResetPasswordConf a:hover {
        color: #337ab7;
    }
</style>

<div id="ResetPasswordConf" class="text-center resetContent">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>