<div class="row">
    <div class="col-sm-2"> <button id="btnMore" class="btn btn-default">View More Records</button></div>
    <div class="col-sm-6">
        <div id="progress2outer" class="progress progress-striped" style="margin-top:20px !important; width:400px;">
            <div id="progress2" class="progress-bar" style="width: 0;"><span id="progtext2 " class="sr-only">0% Complete</span></div>
        </div>
    </div>
</div>